<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div id="app">

        <ul>
            <li v-if="email_uno">{{email_uno}} </li>
            <li v-if="email_due">{{email_due}} </li>
            <li v-if="email_tre">{{email_tre}} </li>
            <li v-if="email_quattro">{{email_quattro}} </li>
            <li v-if="email_cinque">{{email_cinque}} </li>
            <li v-if="email_sei">{{email_sei}} </li>
            <li v-if="email_sette">{{email_sette}} </li>
            <li v-if="email_otto">{{email_otto}} </li>
            <li v-if="email_nove">{{email_nove}} </li>
            <li v-if="email_dieci">{{email_dieci}} </li>
        </ul>

    </div>
    



    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <script type="text/javascript" src="script.js"></script>
</body>
</html>